.container {
    padding-top: 20px; 
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('../images/things-background-1.jpg');
}

.background-play {
    background-image: url('../images/things-background-3.jpg');
}

#title {
    display: none;
}

#play {
    font-family: 'Orbitron', sans-serif;
    display: none;
    margin-top: 200px;
    padding: 10px 80px;
    font-size: 25px;
}

#timer {
    margin-top: 10px;
    font-size: 30px;
    color: white;
}

#question {
    font-family: 'Bungee Shade', cursive;
    font-size: 30px;
    margin: 10px;
    font-weight: bold;
    color: white;
}

.choice {
    font-family: 'Orbitron', sans-serif;
    width: 50%;
    margin: 10px;
    font-size: 18px;
}

.overFormat {
    font-size: 20px;
    color: white;
}

font-family: 'VT323', monospace;
font-family: 'Orbitron', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Frijole', cursive;
font-family: 'Creepster', cursive;
font-family: 'Bungee Outline', cursive;


